/* Style the React root container (the div with id="root" in index.html) */
/* #: styles one react contianer */
#root {
  max-width: 1280px;                  
  margin: 0 auto;
  padding: 24px 24px 64px;
  text-align: center;
  box-sizing: border-box;
}

/* Apply border-box sizing to every element on the page. This makes sizing elements more intuitive. */
* { box-sizing: border-box; }
body { margin: 0; }

/* Define global settings for the whole app. */
:root {
  --chart-1: #a855f7; 
  --chart-2: #f97316; 
  --chart-3: #3b82f6; 
}